extends layout

block content
    
    .container
        
        h1 Welcome to #{title}
        p Pick an existing workout:
        
        .col-md-12
            - var values = names;
            ul
                each val in values
                    .col-md-6
                        .wrapper
                            a.first.after(href="http://localhost:3000/data/" + val._id)= val.name
                 
                else
                    li There are no values
            
        .center
            form(action="/data" method="post").form-inline
                input.form-control(type="text" name="name" placeholder="New Workout name.." required)        
                button.btn.btn-danger(type="submit") Submit