@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-4">
    <p id="example1"> This could be a heading </p>   
</div>
<hr/>


    <div class="col-md-4">
        <p class="success"> This could be a heading </p>
    </div>
    <div class="col-md-4">
        <p class="warning"> This could be a heading </p>
    </div>
    <div class="col-md-4">
        <div class="row">
        <div class="col-sm-6">
            <p class="error"> This could be a heading </p>
        </div>
            <div class="col-sm-6">
                <p class="error"> This could be a heading </p>
            </div>
        </div>
    </div>
